#container {
   color: var(--var-cor-texto);
   position: sticky;
   top: 0;
   left: 0;
   height: 100vh;
   position: sticky;
   background-color: var(--var-cor-cinza);
   border-right: #e1e3e1 1px solid;
   text-align: center;
}

#logo > img {
   width: 100%;
}

#nav ul {
   padding: 0.7em;
   border-top: 1px #e1e3e1 solid;
   display: flex;
   flex-direction: column;
   gap: 1.4rem;
}

#nav ul a,
.langCt {
   color: var(--var-cor-texto);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-size: 32px;
   padding: 10px;
}

#nav ul a p,
.langCt p {
   margin-top: 0.8em;
   font-size: 15px;
   font-weight: 400;
}

.langCt p {
   color: #868686;
}

.langCt span:hover,
.langAtivo {
   font-weight: 800;
   cursor: pointer;
   color: var(--var-cor-texto);
}

#logo {
   text-align: center;
}

#logo > img {
   margin-block: 1em;
   width: 70%;
   text-align: center;
}

@media screen and (max-width: 1208px) {
   #container {
      opacity: 0;
      position: sticky;
      width: fit-content;
      transform: translateX(-200px);
      z-index: 10;
      transition: all ease-in-out 0.4s;
   }

   .ativo {
      transform: translateX(0) !important;
      opacity: 1 !important;
   }

   #nav > ul {
      padding-top: 2em;
   }
}

@media screen and (max-width: 1033px) {
   #nav > ul > a {
      margin-bottom: 0.5em;
      font-size: 20px;
   }
}

@media screen and (max-width: 1033px) {
   #nav > ul > a {
      margin-bottom: 0.9em;
      font-size: 20px;
   }
}

@media screen and (max-width: 551px) {
   #container {
      height: fit-content;
      border-radius: 0 0 7px 7px;
   }

   #nav > ul > a > p {
      font-size: 14px;
   }
}
