.portifolioCard {
   border: 2px solid var(--cor-borda);
   padding: 10px;
   border-radius: 10px;
   position: relative;
   background-color: var(--cor-fundo0);
   margin: 0.8em;
}

.portifolioCard:hover .portifolioText {
   bottom: 20px;
   opacity: 1;
}

.portifolioText {
   position: absolute;
   bottom: 0;
   text-align: start;
   left: 20px;
   right: 20px;
   background-color: var(--var-cor-cinza);
   border: 2px solid var(--cor-borda);
   padding: 20px;
   border-radius: 10px;
   transition: all 0.35s ease;
   opacity: 0;
}

.portifolioText > a {
   position: absolute;
   top: 25px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   right: 15px;
   background: var(--cor-fundo0);
   color: var(--var-cor-texto);
   border-radius: 50%;
   padding: 5px;
   background-color: transparent;
   transition: all 0.3s;
}
.portifolioText > a:hover {
   background-color: var(--var-cor-decoracao);
}

.portifolioText > h6 {
   color: var(--bs-heading-color);
   font-size: 16px;
   font-weight: 500;
   margin-right: 1.25rem;
}

.portifolioText > p {
   font-size: 13px;
   font-weight: var(--weight-normal);
   color: var(--var-cor-texto);
}

.portifolioImg {
   height: 300px;
   overflow-y: hidden;
   border-radius: 10px;
   transition: ease-in-out 1.3s;
   background-size: cover;
}

.portifolioImg:hover {
   background-position: bottom !important;
}

.portifolioImg > a {
   position: absolute;
   top: 20px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   background: var(--var-cor-decoracao);
   color: var(--var-cor-texto);
   border-radius: 50%;
   border-color: red;
   right: 20px;
   border: none;
   font-size: 27px;
}

@media screen and (max-width: 698px) {
   .portifolioText {
      bottom: 20px;
      opacity: 1;
   }
}

@media screen and (max-width: 572px) {
   .portifolioCard {
      margin: 0.4em;
   }
}

@media screen and (max-width: 486px) {
   .portifolioText > h6 {
      font-size: 13px;
      font-weight: 600;
   }

   .portifolioText > p {
      font-size: 13px;
   }
}
