#inicio > div {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-inline: 15%;
    padding-block: 10em;
    color: var(--var-cor-texto);
}

#inicio {
    min-height: 100vh;
    background-color: var(--cor-fundo0);
}

#me {
    max-width: 100%;
    border-radius: 40px;
}

#iconTop {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 90px;
    display: inline-block;
}

#iconLow {
    bottom: -40px;
    left: -50px;
    width: 90px;
    display: inline-block;
    position: absolute;
}

#inicio #left {
    max-width: 100%;
    position: relative;
}

#inicio #right {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding-left: 13%;
    justify-content: center;
}

#inicio #right > h3 {
    font-size: 62px;
    font-weight: 700;
    color: black;
    margin-block: 10px;
    text-shadow: 1px 1px 2px black;
}

#inicio #right > h6 {
    font-size: 20px;
    font-weight: 400;
}

#inicio #right > p {
    font-size: var(--font-normal);
    font-weight: 300;
}

#inicio #right > h4 {
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 25px;
}

#inicio #right > button {
    padding: 15px 35px;
    background-color: var(--var-cor-decoracao);
    font-size: 17px;
    border-radius: 10px;
    transition: all 0.35s ease;
    font-weight: 500;
    border: 2px solid var(--var-cor-decoracao);
    margin-top: 2em;
    color: #001d35;
}

#inicio #right > button > svg {
    margin-right: 15px;
}

#inicio #right > button:hover {
    cursor: pointer;
}

#sobre {
    background-color: var(--cor-fundo1);
}

.titulo1 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-left: 20px;
    color: var(--bs-heading-color);
    margin-bottom: 30px;
}

.titulo1::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 8px;
    height: 8px;
    background: var(--var-cor-decoracao);
}

#sobre {
    padding: 5% 15%;
    display: grid;
    grid-template-columns: 50% 50%;
}

#sobre > #left {
    padding-right: 20%;
}

#sobre #secaoSobre {
    padding-bottom: 8%;
    border-bottom: #c0c0c0 1px solid;
}

#sobre #secaoSobre > h6 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
}

#sobre #secaoSobre > h5 {
    font-size: 30px;
    margin-bottom: 26px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
}

#sobre #secaoSobre > p {
    font-size: var(--font-normal);
    font-weight: var(--weight-normal);
    margin-bottom: 16px;
}

#sobre #secaoSobre > #linha {
    display: flex;
    flex-flow: row nowrap;
}

#sobre #secaoSobre > #linha > div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#sobre #secaoSobre > #linha > div:last-child {
    margin-left: 4%;
}

#sobre #secaoSobre > #linha > div > span {
    font-size: 52px;
    line-height: 1;
    font-weight: 600;
    color: var(--bs-heading-color);
}

#sobre #secaoSobre > #linha > div > p {
    padding-left: 12px;
    line-height: 1.4;
}

#sobre #secaoXP {
    padding-top: 8%;
}

#sobre #secaoXP > div > .cardXP {
    background-color: var(--fundo-box);
    border: 2px solid var(--borda-box);
    margin-bottom: 4%;
    padding: 15px 15px 20px 70px;
    border-radius: 12px;
    position: relative;
    transition: all 0.35s ease;
}

#sobre #right .duasCol {
    position: sticky;
    top: 0;

}

#sobre #right .duasCol > img {
    max-width: 100%;
    border-radius: 40px;
}

#sobre #right .duasCol {
    display: grid;
    grid-template-columns: 58% auto;
}

#sobre #right .duasCol > div {
}

#sobre #right .duasCol > div {
    display: flex;
    flex-direction: column;
    padding-left: 7%;
}

#sobre #right .duasCol > div > a {
    color: var(--var-cor-texto);
    display: flex;
    margin-bottom: 2em;
    border: 2px solid var(--borda-box);
    background-color: var(--fundo-box);
    padding: 12px 15px;
    border-radius: 12px;
    align-items: center;
    position: relative;
    transition: all 0.35s ease;
}

#sobre #right .duasCol > div > a > span {
    margin-left: 25px;
}
