:root {
    --var-cor-texto: #393a3a;
    --var-cor-decoracao: #c2e7ff;
    --var-cor-cinza: #f3f6fc;
    --bs-heading-color: black;
    --cor-fundo0: white;
    --cor-fundo1: #f8fafd;
    --font-normal: 17px;
    --weight-normal: 300;
    --fundo-box: white;
    --cor-borda: #e1e3e1;
    --padding-secao: 5% 15%;
    --swiper-theme-color: var(--var-cor-decoracao);
    --swiper-pagination-bullet-size: 13px;
    --cor-hover: #001d35;
}

a {
    text-decoration: none;
}

fieldset {
    border: none;
}
